{% extends 'base.html' %}
{% block title %}Item Details{% endblock %}
{% block content %}
<h2 class="mt-4">{{ item.part_name }} Details</h2>
<table class="table table-striped">
    <tr>
        <th>Part Number</th>
        <td>{{ item.part_number }}</td>
    </tr>
    <tr>
        <th>Description</th>
        <td>{{ item.description }}</td>
    </tr>
    <tr>
        <th>Origin Part Number</th>
        <td>{{ item.origin_partnumber }}</td>
    </tr>
    <tr>
        <th>McMaster-Carr Part Number</th>
        <td>{{ item.mcmaster_carr_partnumber }}</td>
    </tr>
    <tr>
        <th>Cost</th>
        <td>{{ item.cost }}</td>
    </tr>
    <tr>
        <th>Location</th>
        <td>{{ item.location }}</td>
    </tr>
    <tr>
        <th>Notes</th>
        <td>{{ item.notes }}</td>
    </tr>
    <tr>
        <th>Quantity</th>
        <td>{{ item.quantity }}</td>
    </tr>
    <tr>
        <th>Minimum On Hand</th>
        <td>{{ item.min_on_hand }}</td>
    </tr>
    <tr>
        <th>Manufacturer</th>
        <td>{{ item.manufacturer }}</td>
    </tr>
</table>
<a href="{{ url_for('inventory.list_items') }}" class="btn btn-secondary">Back to List</a>
<a href="{{ url_for('inventory.edit_item', part_number=item.part_number) }}" class="btn btn-primary">Edit Item</a>
{% endblock %}
